.logOutButton{
    float: right; 
    border: 1px solid black; 
    padding: -2px; 
    background-color: dodgerblue;
    border-radius: 30%;
    transition: all 0.3s ease-in-out;
}

.logOutButton:hover{
    background-color:#FF6666;
}

.navbar{
    background-color: dodgerblue;
}

li a{
    color: white;
    cursor: pointer;
}

.navbar-default .navbar-brand {
    color: white;
}
