/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

input.ng-valid.ng-touched{
    border: 1px solid green;
}

.errorMessage{
    color: red;
    margin-bottom: 2%;
}

.successMessage{
    color: green;
    margin-bottom: 2%;
}

a{
    cursor: pointer;
}

.modifiedMessage{
    color: dodgerblue;
    margin-bottom: 2%;
}

.headerText{
    padding: 20px;
    background-color: dodgerblue;
}

.container{
    margin-top: 5% !important;
}

.form-group{
    padding-top: 25px !important;
}

p-card ::ng-deep .p-component{
    background-color: lightgrey;
    padding-left: 15px;
}

p-card ::ng-deep .p-card{
    margin-bottom: 8px !important;
}

p-card ::ng-deep .p-card-header{
    padding-top: 15px;
}

a{
    text-decoration: none;
}

/* body{
    background: url(../src/assets/stars-bg.jpg);
    background-size: cover;
    height: 100%;
} */